@{
    ViewBag.Title = "Index";
}

<h2>Index of admin main page</h2>

<div class="row">
    <div class="col-lg-3">
        @Html.ActionLink("Users", "UserManagers", "Main", new { Area = "Admin" }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
</div>