@model List<Broadway._6PM.Web.ViewModel.Admin.UserlistViewModel>

@{
    ViewBag.Title = "UserManagers";
}

<h2>UserManagers page</h2>

@if (Model == null)
{
    <span class="alert alert-danger">No users found!</span>
}
else
{
    <div class="row">
        <table id="usertable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>
                            <a href="" class="btn btn-primary">Details</a>
                            <a href="" class="btn btn-info">Edit</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}

@section scripts
{
   <script>
       $(document).ready(function () {
           $('#usertable').DataTable({
               
           });
       });

    </script>
}