@model Broadway._6PM.Web.ViewModel.FrontPageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="row">
            <h3>@item.CategoryName</h3>
            @foreach (var product in item.Products)
            {
                <div class="col-lg-3">
                    <h4>@product.Name</h4>
                    <h5>@product.Stock Stocks</h5>
                    <h5>NPR @product.Price</h5>
                </div>
            }
        </div>
    }
</div>