@model Broadway._6PM.Web.ViewModel.PPViewModel

<div class="col-md-4">
    <h2>@Model.Title</h2>
    <p>
        @Model.Body
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@Model.ButtonText</a></p>
</div>